@tailwind base;
@tailwind components;
@tailwind utilities;

/* DM Sans Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@layer base {
    /* Global classes */
    html {
        font-size: 62.5%;
    }

    body {
        font-family: 'DM Sans', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 25px;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 4rem;
        line-height: 48px;
        letter-spacing: 4.17px;
    }
    h2 {
        font-size: 2.4rem;
        line-height: 25px;
        letter-spacing: 0px;
    }
    h3 {
        font-size: 1.8rem;
        line-height: 25px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }
    h4 {
        font-size: 1.2rem;
        line-height: 16px;
        letter-spacing: 2px;
    }

    /* Custom classes */
    .btn {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.2rem;
        font-weight: bold;
    }
     
    .nav-items {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 1.2rem;

    }

    .nav-items:hover {
        color: #dfdfdf;
        transition: all ease-in-out 0.2s;
    }
    .nav-items.active {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(202deg, rgba(90,119,255,1) 55%, rgba(188,113,152,1) 85%, rgba(255,197,147,1) 99%) 0 0 1 0;
    }
    .hero-border {
        
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(202deg, rgba(90,119,255,1) 55%, rgba(188,113,152,1) 85%, rgba(255,197,147,1) 99%) 0 0 0 1;
    }

    .border-color {
        border-image: linear-gradient(202deg, rgba(90,119,255,1) 55%, rgba(188,113,152,1) 85%, rgba(255,197,147,1) 99%) 0 0 0 1;
    }
    .border-color-top {
        border-image: linear-gradient(0deg, rgba(255,197,147,0.702019694533762) 99%, rgba(188,113,152,0.7373894694533762) 78%) 1 0 0 0;
    }
    .border-color-all {
        border-image: linear-gradient(0deg, rgba(255,197,147,0.702019694533762) 99%, rgba(188,113,152,0.7373894694533762) 78%) 1 1 1 1;
    }
    .hero-border_bottom {
        
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(202deg, rgba(90,119,255,1) 55%, rgba(188,113,152,1) 85%, rgba(255,197,147,1) 99%) 0 0 1 0;
    }

    .overflow {
        overflow-x: hidden !important;
    }
    

    .fill {
       color: white;
    }

    /* For card black overlay */
  .card::before {
    content: "";
    position: absolute;
    inset:0 ;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255, 255, 255, 0.089) 31%, rgba(135, 135, 135, 0.123) 46%, rgba(0, 0, 0, 0.555) 70%);
  }

 

  .hoverStoryEffect::before {
    content: "";
    position: absolute;
    bottom: -15rem;
    width: 42rem;
    height: 40rem;
    left: -15rem;
    z-index: -1;
    background: rgb(255,197,147);
    background: linear-gradient(45deg, rgba(255, 197, 147, 0.562) 12%, rgba(188, 113, 152, 0.486) 70%, rgba(90, 120, 255, 0.397) 92%);
    filter: blur(90px);
    animation: storyHero 0.2s;
  }

  @keyframes storyHero {
        0% {
            opacity: 0.2;
        }
        50% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
  }

    /* Screen Media Queries */

    @media screen and (min-width: 768px) {
        .btn_default {
            padding: 1.2rem 2.2rem !important;
        }
        .grid-normal {
            grid-template-columns: 65% 35%;
        }
        .grid-reversed {
            grid-template-columns:  35.54% 64.45%;
        }

        .hero_pad {
            padding-inline: 7rem ;
        } 

        .backgroundImage {
            background-image: url('./assets//stories/tablet/moon-of-appalacia.jpg');
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
            background-size: cover;
        }

        .betaBackgroundImage {
            background-image: url('./assets/shared/tablet/bg-beta.jpg');
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
            background-size: cover;
        }
    }

    @media screen and (min-width: 1024px) {
        .btn_default {
            padding: 1.2rem 2.6rem !important;
        }
        .grid-normal {
            grid-template-columns: 42.36% 57.6%;
        }
        .grid-reversed {
            grid-template-columns: 57.6% 42.36%;
        }
        .backgroundImage {
            background-image: url('./assets//stories/desktop/moon-of-appalacia.jpg');
            background-repeat: no-repeat;
            object-fit: cover;
            
            background-size: cover;
        }
        .betaBackgroundImage {
            background-image: url('./assets/shared/desktop/bg-beta.jpg');
            background-repeat: no-repeat;
            object-fit: cover;
            
            background-size: cover;
        } 
    }
    @media screen and (max-width: 767px) {
        .btn_default {
            padding: 1.2rem 0 !important;
            width: full;
        }
        
        .betaBackgroundImage {
            background-image: url('./assets/shared/mobile/bg-beta.jpg');
            background-repeat: no-repeat;
            object-fit: cover;
            
            background-size: cover;
        }
        
       
    }

    @media screen and (min-width: 1440px) {
        .responsive {
            display: flex !important;
            justify-content: center !important;
        } 

    }
    @media screen and (min-width: 1023px) {
        .responsive {
            display: flex !important;
            justify-content: center !important;
        } 
        
    }
}
